/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache

/vendor/
/node_modules/

.env.*
.env.local
.env.development
.env.production
.phpunit.result.cache
.phpunit.cache

storage/*.key
storage/app/public
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

database/*.sqlite

composer.phar

.DS_Store
Thumbs.db
.idea/
.vscode/

docker-compose.override.yml
docker/
*.pid
